<?xml version="1.0"?>
<!--
/*
 * Turiknox_SampleImageUploader

 * @category   Turiknox
 * @package    Turiknox_SampleImageUploader
 * @copyright  Copyright (c) 2017 Turiknox
 * @license    https://github.com/turiknox/magento2-sample-imageuploader/blob/master/LICENSE.md
 * @version    1.0.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Turiknox\SampleImageUploader\Api\ImageRepositoryInterface" type="Turiknox\SampleImageUploader\Model\ImageRepository" />
    <preference for="Turiknox\SampleImageUploader\Api\Data\ImageInterface" type="Turiknox\SampleImageUploader\Model\Image" />
    <virtualType name="SampleImageUploaderDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Turiknox\SampleImageUploader\Model\Resource\Image\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">SampleImageUploaderDataGridFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Turiknox\SampleImageUploader\Model\ResourceModel\Image\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">turiknox_sampleimageuploader_image</argument>
            <argument name="resourceModel" xsi:type="string">Turiknox\SampleImageUploader\Model\ResourceModel\Image</argument>
        </arguments>
    </virtualType>
    <virtualType name="SampleImageUploaderImageUploader" type="Turiknox\SampleImageUploader\Model\Uploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="const">Turiknox\SampleImageUploader\Model\Uploader::IMAGE_TMP_PATH</argument>
            <argument name="basePath" xsi:type="const">Turiknox\SampleImageUploader\Model\Uploader::IMAGE_PATH</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sampleimageuploader_image_grid_data_source" xsi:type="string">Turiknox\SampleImageUploader\Model\ResourceModel\Image\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Turiknox\SampleImageUploader\Model\UploaderPool">
        <arguments>
            <argument name="uploaders" xsi:type="array">
                <item name="image" xsi:type="string">SampleImageUploaderImageUploader</item>
            </argument>
        </arguments>
    </type>
    <type name="Turiknox\SampleImageUploader\Controller\Adminhtml\Image\Upload">
        <arguments>
            <argument name="uploader" xsi:type="object">SampleImageUploaderImageUploader</argument>
        </arguments>
    </type>
    <type name="Turiknox\SampleImageUploader\Ui\Component\Listing\Column\Image">
        <arguments>
            <argument name="imageModel" xsi:type="object">SampleImageUploaderImageUploader</argument>
        </arguments>
    </type>
    <type name="Turiknox\SampleImageUploader\Controller\Adminhtml\Image\MassDelete">
        <arguments>
            <argument name="successMessage" xsi:type="string" translate="true">A total of %1 record(s) have been deleted.</argument>
            <argument name="errorMessage" xsi:type="string" translate="true">An error occurred while deleting record(s).</argument>
        </arguments>
    </type>
</config>