<?xml version="1.0"?>
<!--
/*
 * Turiknox_SampleImageUploader

 * @category   Turiknox
 * @package    Turiknox_SampleImageUploader
 * @copyright  Copyright (c) 2017 Turiknox
 * @license    https://github.com/turiknox/magento2-sample-imageuploader/blob/master/LICENSE.md
 * @version    1.0.0
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Turiknox_SampleImageUploader::image"
             title="Sample Image Uploader"
             module="Turiknox_SampleImageUploader"
             sortOrder="75" resource="Turiknox_SampleImageUploader::image"
             action="sampleimageuploader/image/index"/>
    </menu>
</config>